/*moty - musican of the year(исполнитель года)*/
/*motm - musicans of the month(исполнители месяца)*/
/*sotm - songs of the month(песни месяца)*/
/*aotm - albums of the month(альбомы месяца)*/

.moty-img { /*класс картинки исполнителя года*/
    width: 250px;
    height: 250px;
}

.position1{ /*класс области "Исполнитель года"*/
    display: flex;
    align-items: center;
    margin-top: 5.5%;
    margin-left: 7.8125%;
}

.star-img { /*класс звёздочки*/
    position:relative;
    margin-left: 13px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    top: -5%;
}

.moty-txt { /*класс текста(информация об исполнителе*/
    margin-left: 70px;
    font-family: 'Noto Sans'; 
}

.string_moty {
    color: #585858;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: -0.5%;
}

.string_musican {
    color: #110F0F;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: -0.5%;
}

.string_plays {
    color: #585858;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: -0.5%;
}

.string_counter {
    color: #110F0F;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: -0.5%;
}

.line {
    margin-top: 2.5%;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid black;
    position: absolute;
}

.string_colums { /*Ряд текстов*/
    margin-top: 45px;
    font-family: 'Noto Sans'; /*указание шрифта*/
    display: flex;
    justify-content: space-around;
    color: #110F0F;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 5%;
}

.string_text { 
    margin-left: 9%;
    margin-right: 9%;
    width: 300px;
}

.rows{
    margin-top: 36px;
    display: flex;
    align-items: center;
    width: 300px;
}

.text{
    margin-left: 36px;
    color: #110F0F;
    font-family: 'Noto Sans';
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.rows-img { 
    width: 80px;
    height: 80px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5%;
}
.rows1 {
    margin-left: 9%;
    margin-right: 9%;
    width: 300px;
}